/* common css style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header section styles */
header{
    background-color:  #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-size: 50px 555px, 700px 450px;
    background-position: 15px 10px,bottom right;
}
.first-section {
    margin: 0px 140px 0px;
}

/* navigation section style */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.text-title{
    color: #181818;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}
.word-color{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    padding: 0px 12px;
}

/* primary button style */
.btn-primary{
    background-color: #FD6E0A;
    padding: 12px 18px;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
}

.btn-secondary{
    padding: 12px 18px;
    border:  1px solid #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    color: #FD6E0A;
    margin-left: 16px;
}

.fa-solid{
    margin-right: 10px;
}

/* banner section style */
.banner{
    display: flex;
    align-items: center;
}

.author-name{
    font-size: 80px;
    font-weight: 700;
}
.author-description{
    margin: 20px 0px;
}
.photo img{
    width: 90%;
    margin-top: 30px;
}